/* variables */
:root {
  /*- background-colors-*/
  --background-white: #fff;
  --background-black: #000;
  --background-card: #f7f2ef;
  --background-section: #dfd3cd;

  --border-color: 1px solid #d8d8d8;
  --shadow: 0 0.125rem 0.25rem #00000013;

  /*----- font config -----*/
  --font-shadow: 2px 2px 4px black;

  /*- font-colors-*/
  --font-white: #fff;
  --font-black: #000;
  --font-red: #ff0000;

  /*- fonts family -*/
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /*- size -*/
  --font-size-small: 1rem;
  --font-size-medium: 1.15rem;
  --font-size-large: 1.5em;
  --font-size-x-large: 2.5em;
  --font-size-xx-large: 4em;
  --font-size-xxx-large: 5.5em;

  /*- weight -*/
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 700;

  /*- line-height -*/
  --line-height-small: 1.25;
  --line-height-medium: 1.5;
  --line-height-large: 1.75;

  /*- Effects -*/
  --transition: all 500ms ease-in-out;
}

/* dark / light mode */

@media (prefers-color-scheme: light) {}

@media (prefers-color-scheme: dark) {}


/* reset css */

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

/*******************************  body *******************************/
/* ----------------------------------------------------------------- */

body {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

body.active {
  overflow-y: hidden;
}

/* ----------------------------------------------------------------- */

/*****************************  header *****************************/

.header {
  width: 100%;
  min-height: 3rem;
  background-color: var(--background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.25rem;
}

.header__logo-container {
  display: block;
  width: 90%;
}

.header__logo {
  max-width: 100%;
  object-fit: contain;
}

/*****************************  nav *****************************/

.nav {
  z-index: 3;
  position: sticky;

  top: 0;
  width: 100%;
  min-height: 3rem;
  background-color: var(--background-white);
  box-shadow: var(--shadow);
  border-bottom: var(--border-color);
  display: flex;
  justify-content: space-between;
}


.nav__hamburger-container {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav__btn {
  z-index: 6;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1rem;
  transition: var(--transition);
}

.nav__btn.active {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 2rem;
}

.nav__btn-line {
  width: 100%;
  height: 0.2rem;
  background-color: var(--background-black);
  border-radius: 0.5rem;
  transition: var(--transition)
}

.nav__btn-line.active {
  background-color: var(--background-white);
}

.nav__btn-line.active:nth-of-type(1) {
  transform: rotate(-225deg);
}

.nav__btn-line.active:nth-of-type(2) {
  display: none;
}

.nav__btn-line.active:nth-of-type(3) {
  transform: rotate(225deg);
}

.nav__menu-container {
  z-index: 5;
  list-style: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: var(--transition);
  transform: translate(-100%);
}

.nav__menu-container.active {
  transform: translate(0);
}

.nav__item {
  width: 100%;
  height: 3rem;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  color: var(--font-white);
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
}

.nav__icons-container {
  width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 0.75rem;
}

.nav__icon {
  display: block;
  width: 1.75rem;
}

.nav__img {
  max-width: 100%;
  object-fit: contain;
}

/*****************************  main *****************************/

.main {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.promotion__text-container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion__title {
  color: var(--font-white);
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-large);
  text-shadow: var(--font-shadow);
  margin: 0;
}

.promotion__subtitle {
  color: var(--font-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-medium);
  text-shadow: var(--font-shadow);
}

.main__card-container {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 34rem));
  place-content: center;
  gap: 1rem;
}

.card {
  max-width: 100%;
  background-color: var(--background-card);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.card__title {
  text-align: center;
  color: var(--font-black);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-medium);
  border-radius: .5rem;
}

.card__image-container {
  width: 100%;
  height: 20em;
  border-radius: .5rem;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 35%;
}

.card__description {
  display: block;
  width: 100%;
  text-align: left;
  color: var(--font-black);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-medium);
  background-color: var(--background-section);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card__form {
  width: 100%;
  background-color: var(--background-section);
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  border-radius: .5rem;
}

.card__input-color,
.card__input-sizes,
.card__btn-submit {
  max-width: 100%;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-medium);
}

.card__color-options,
.card__ring-sizes {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
}

.card__color-options input,
.card__input-sizes input {
  margin: 0 0.5rem 0 .25rem;
}

.card__btn-submit {
  padding: 0.5rem 0;
  background-color: var(--background-white);
  border-radius: .5rem;
}

/*****************************  footer *****************************/

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: var(--background-section);
}

.footer__logo-container {
  display: block;
  width: 25%;
}

.footer__logo {
  max-width: 5rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__info {
  color: var(--font-black);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-small);

}

/*****************************  aside *****************************/
.no-support {
  display: none;
}

/************************************************************************/
/*****************************  breakpoints *****************************/
/************************************************************************/

/*
      ***  breakpoints  ***

|  xs     |  (extra small):  |  576px   |  mobile   |
|  sm     |  (small):        |  768px   |  tablet   |
|  md     |  (medium):       |  992px   |  desktop  |
|  lg     |  (large):        |  1200px  |  desktop  |
|  x-lg   |  (large):        |  1440px  |  desktop  |
|  xx-lg  |  (large):        |  2160px  |  desktop  |

*/

/*****************************  media query *****************************/
@media screen and (max-width: 319px) {

  /*** body ***/
  .header,
  .nav,
  .main,
  .footer {
    display: none;
  }

  /*** aside ***/

  .no-support {
    width: 100%;
    height: 100vh;
    background-color: var(--background-black);
    color: var(--font-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .no-support__text {
    text-align: center;
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-extrabold);
    font-family: var(--font-sans-serif);
    line-height: var(--line-height-large);
  }
}

/*****************************  576px *****************************/
@media screen and (min-width: 576px) {

  /*** main ***/

  .promotion__title {
    font-size: var(--font-size-x-large);
  }

  .promotion__subtitle {
    font-size: var(--font-size-large);
  }

  .main__card-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

}

/*****************************  768px *****************************/
@media screen and (min-width: 768px) {

  /*** body ***/
  body.active {
    overflow-y: scroll;
  }

  /*** nav ***/
  .nav__menu-container.active {
    width: 50vw;
  }

  /*** main ***/
  .promotion__video {
    max-height: 15rem;
  }

  .promotion__title {
    font-size: var(--font-size-xx-large);
  }

  .promotion__subtitle {
    font-size: var(--font-size-large);
  }

  /*** footer ***/
  .footer__logo {
    max-width: 7.5rem;
  }
}

/*****************************  992px *****************************/
@media screen and (min-width: 992px) {

  /*** header ***/
  .header__logo-container {
    max-width: 40%;
  }

  /*** nav ***/
  .nav {
    min-height: 4rem;
    justify-content: end;
    align-items: center;
  }

  .nav__hamburger-container {
    display: none;
  }

  .nav__menu-container {
    position: static;
    z-index: auto;
    width: 50%;
    height: 3rem;
    transform: translate(0);
    background-color: inherit;
    flex-flow: row wrap;
    justify-content: space-evenly;

  }

  .nav__item {
    width: auto;
    height: auto;
  }

  .nav__link {
    text-decoration: none;
    color: var(--font-black);
    font-family: var(--font-sans-serif);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-medium);
  }

  .nav__icons-container {
    width: 25%;
  }

  /*** main ***/


  .promotion__video {
    max-height: 20rem;
  }

  .promotion__title {
    font-size: var(--font-size-xxx-large);
  }

  .promotion__subtitle {
    font-size: var(--font-size-x-large);
  }

  /*** footer ***/

  .footer__logo {
    max-width: 10rem;
  }

}