/* variables */
:root {
  /*- background-colors-*/
  --background-white: #fff;
  --background-black: #000;
  --background-card: #f7f2ef;
  --background-section: #dfd3cd;

  --border-color: 1px solid #d8d8d8;
  --shadow: 0 0.125rem 0.25rem #00000013;
  /*- font-colors-*/
  --font-white: #fff;
  --font-black: #000;
  --font-shadow: 2px 2px 4px black;

  /*- fonts family -*/
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /*- size -*/
  --font-size-general: 1.25rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 2.5em;


  /*- weight -*/
  --font-weight-general: 400;
  --font-weight-bold: 700;

  /*- line-height -*/
  --line-height-general: 1.15;
  --line-height-small: 1.25;
  --line-height-medium: 1.5;
  --line-height-large: 1.75;

  --transition: all 500ms ease-in-out;
}

/* reset css */

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* principal config */

body {
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* ------------------------------------------------------ */

/* header */

header {
  width: 100%;
}

header #logo-container {
  background-color: var(--background-black);
  width: 100%;
  min-height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logo-container img {
  max-width: 65%;
  object-fit: contain;
}

/* nav */
nav {
  z-index: 3;
  width: 100%;
  background-color: var(--background-white);
  --border-color: 1px solid #d8d8d8;
  --shadow: 0 0.125rem 0.25rem #00000013;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.35rem 0;
}

nav .hamburger-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #hamburger-btn {
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: var(--transition);
  transform: translate(0);
}

nav #hamburger-btn.active {
  position: fixed;
  left: 10%;
  transform: translate(10%);
  transform: scale(1.5);
}

nav #hamburger-btn span,
nav #hamburger-btn span::before,
nav #hamburger-btn span::after {
  content: " ";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--background-black);
  border-radius: 0.25rem;
}

nav #hamburger-btn #hamburger-btn__line.active,
nav #hamburger-btn #hamburger-btn__line.active::before,
nav #hamburger-btn #hamburger-btn__line.active::after {
  background-color: var(--background-white);
}

nav #hamburger-btn span::before {
  margin-top: 0.5rem;
}

nav #hamburger-btn span::after {
  margin-top: -1.1rem;
}


nav #menu-list {
  background-color: var(--background-black);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--font-size-medium);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
  transform: translate(-100%);
}

nav #menu-list.active {
  transform: translate(0);
  color: var(--font-white);

}


nav #container-menu-icons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav #container-menu-icons.active {
  display: none;
}

nav #container-menu-icons picture {
  width: 1.5rem;
  height: 1.5rem;
}

nav #container-menu-icons picture img {
  width: 100%;
  object-fit: contain;
}

/* main */
main {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;

}

main #video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main #video-container video {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main #video-container section {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main #video-container section h2 {
  color: var(--font-white);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-large);
  text-shadow: var(--font-shadow);
}

main #video-container section p {
  color: var(--font-white);
  font-size: var(--font-size-general);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height-medium);
  text-shadow: var(--font-shadow);
}


main .card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  padding: .80rem;
  gap: .5rem;
}

main .card-container .card {
  max-width: 1fr;
  max-height: 75vh;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--background-section);
}

main .card-container .card header {
  text-align: center;

}

main .card-container .card header h3 {
  font-family: var(--font-monospace);
  font-weight: var(--font-weight-general);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  color: var(--font-black);
}

main .card-container .card main {
  min-height: 5rem;
  margin: 0.5rem 0;
}


main .card-container .card main .card__image img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2rem;
}

main .card-container .card footer {
  max-width: 100%;
  min-height: 5rem;
}

main .card-container .card footer form {
  font-family: var(--font-monospace);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-general);
  line-height: var(--line-height-general);
  color: var(--font-black);
  background-color: var(--background-card);
  padding: 0.5rem;
}

main .card-container .card footer form article {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
}

main .card-container.card footer form article section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

main .card-container.card footer form article section input {
  margin: 0 1rem 0 0.25rem;
}

main .card-container .card footer form button {
  padding: 0.5rem 1rem;
  background-color: var(--background-section);
}

/* ****************************************************/

/* footer */
footer {
  width: 100%;
  min-height: 5rem;
  background-color: var(--background-card);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer picture {
  max-width: 7.5rem;
  margin-left: 1rem;
}

footer picture img {
  width: 100%;
  object-fit: contain;
}

footer article {
  margin-right: 1rem;
  font-family: var(--font-monospace);
  font-weight: var(--font-weight);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--font-black);
}

/***  576px ***/

@media screen and (min-width: 576px) {
  header #logo-container {
    padding: 1rem 0;
  }

  main #video-container video {
    height: 15rem;
  }

}

@media screen and (min-width: 768px) {
  header #logo-container {
    padding: 1rem 0;
  }

  nav {
    min-height: 4rem;
  }

  nav .hamburger-container #hamburger-btn {
    display: none;
    transition: none;
  }

  nav #menu-list {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    text-align: center;
    transform: translate(0);
    transition: none;
  }

  nav #menu-list li {
    font-size: var(--font-size-general);
    display: block;
    min-width: 6rem;
    padding: 1rem 0;
  }

  nav #container-menu-icons {
    width: 20%;
  }

  main #video-container video {
    height: 20rem;
  }

}

@media screen and (min-width: 992px) {
  header #logo-container img {
    max-width: 35%;
  }

  nav #menu-list li {
    font-size: var(--font-size-medium);
    min-width: 10rem;
  }

  nav #container-menu-icons picture {
    width: 2rem;
    height: 2rem;
  }

  main #video-container video {
    height: 25rem;
  }

  main #video-container section h2 {
    font-size: calc(var(--font-size-large) * 1.5);
  }

  main #video-container section p {
    font-size: calc(var(--font-size-general) * 1.5);
  }

  main .card-container .card main .card__image img {
    max-height: 24rem;
  }

}